body{
    font-size: 22px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgba(98, 95, 95, 0.575);
    display: inline-block;
   
}
nav ul{
    list-style: none;
    padding: 0;
    background-color: rgba(161, 153, 153, 0.835);
    
        }
nav ul li a{
    color: white;
    padding: .8rem 1rem;
    display: block;

}

